*.pyc
*.egg-info
*.pt
*.pth
*.zip
*.tar.gz
*.render*
*.ply
*.png
*.safetensors
*.npy


**/__pycache__/

.vscode
ckpts

/checkpoints
/data
/logs
/outputs
/utils/debug.py
/configs/data/full.yaml
*_check/
/utils/utils_ceph.py
/inputs
/traj_data
/e1
/e2
/e4
/e3
/e5
/e6
/small_vln_n1
/small_vln_n1_2
/small_vln_n1_3
/small_vln_n1_4
/small_vln_n1_split_e1
/small_vln_n1_split_e2
/small_vln_n1_split_e3
/small_vln_n1_split_e4
/debug_e2
/debug_e3
/debug_e4
/debug_seg_fault
/utils/benchmark
/utils/calc
/utils/vis
/all_outputs
resize_demo_imgs.py
img_dir_to_video.py